@import './color.scss';

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    
    &__title {
        text-align: center;
        font-size: 25px;
        color: $darkblue;
    }
    &__btn {
        width: 200px;
        height: 50px;
        color: $lightblue;
        background-color: $darkblue;
    }
    &__btn:hover {
        background-color: $lightblue;
        color: $darkblue;
    }
}

.modal__dialog {
    max-width: 500px;
    margin: 50px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #E4F1FE;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
    border: 2px solid $darkblue;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
