@import './components/base';
@import './components/table';
@import './components/modal';
@import './components/select';
@import './components/form';
@import './components/button';
@import './components/color';


.active {
    background-color: $darkblue;
    opacity: 1;
    color: $lightblue;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.hovered {
    border: 5px solid greenyellow;
}